.kd-tab {
	margin: 0px 0px 25px; width: 100%; float: left;
}
.kd-horizontal-tab .nav-tabs > li > a {
	background-color: rgb(249, 249, 249);
}
.kd-horizontal-tab .tab-content {
	padding: 20px 0px 0px;
}
.nav-tabs > li.active > a {
	background-color: rgb(255, 255, 255);
}
.nav-tabs > li.active > a:hover {
	background-color: rgb(255, 255, 255);
}
.nav-tabs > li.active > a:focus {
	background-color: rgb(255, 255, 255);
}
.kd-vertical-tab .nav-tabs {
	width: 30%; float: left;
}
.kd-vertical-tab .nav-tabs li {
	width: 100%;
}
.kd-vertical-tab .tab-content {
	padding: 0px 0px 0px 20px; width: 70%; border-left-color: rgb(238, 238, 238); border-left-width: 1px; border-left-style: solid; float: left;
}
.kd-vertical-tab .nav-tabs > li.active > a:hover {
	border: currentColor; border-image: none;
}
.kd-vertical-tab .nav-tabs {
	border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
.kd-vertical-tab .nav-tabs > li.active > a {
	border-width: 1px medium medium 1px; border-style: solid none none solid; border-color: rgb(238, 238, 238) currentColor currentColor rgb(238, 238, 238); border-image: none; background-color: rgb(255, 255, 255);
}
.kd-vertical-tab .nav-tabs > li.active > a:focus {
	border-width: 1px medium medium 1px; border-style: solid none none solid; border-color: rgb(238, 238, 238) currentColor currentColor rgb(238, 238, 238); border-image: none; background-color: rgb(255, 255, 255);
}
.kd-vertical-tab .nav-tabs > li {
	margin: 0px;
}
.kd-vertical-tab .nav-tabs > li > a {
	border-width: 1px medium medium 1px; border-style: solid none none solid; border-color: rgb(238, 238, 238) currentColor currentColor rgb(238, 238, 238); margin: 0px; border-radius: 0px; border-image: none; background-color: rgb(249, 249, 249);
}
.kd-dropcap p::first-letter {
	padding: 10px 15px 0px 0px; color: rgb(119, 119, 119); font-size: 43px; float: left;
}
.close {
	line-height: 26px; font-size: 32px;
}
.genral-message {
	border: 2px solid rgb(238, 238, 238); border-image: none; background-color: rgb(249, 249, 249);
}
.success-message {
	border: 2px solid rgb(203, 218, 165); border-image: none; background-color: rgb(228, 245, 186);
}
.warning-message {
	border: 2px solid rgb(228, 199, 137); border-image: none; background-color: rgb(253, 237, 191);
}
.error-message {
	border: 2px solid rgb(225, 161, 151); border-image: none; background-color: rgb(252, 212, 203);
}
.information-message {
	border: 2px solid rgb(166, 196, 216); border-image: none; background-color: rgb(227, 239, 247);
}
pre {
	padding: 9.5px 25px; width: 100%; float: left;
}
.kd-table {
	margin: 0px 0px 30px; width: 100%; float: left;
}
.kd-table tr td {
	border-width: medium medium 1px; border-style: none none solid; border-color: currentColor currentColor rgb(238, 238, 238); border-image: none;
}
.kd-table tr th {
	padding: 4px 20px; border: currentColor; border-image: none; color: rgb(255, 255, 255);
}
.kd-table tbody {
	border-right-color: rgb(238, 238, 238); border-left-color: rgb(238, 238, 238); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
.kd-table tbody tr td {
	padding: 2px 20px;
}
.kd-tableone thead {
	background-color: rgb(243, 74, 83);
}
.kd-tabletwo thead {
	background-color: rgb(17, 183, 173);
}
.kd-userservices article {
	margin-bottom: 30px;
}
.kd-smallview i {
	margin: 6px 0px 0px; padding: 10px 0px 0px; border-radius: 100%; width: 40px; height: 40px; text-align: center; color: rgb(255, 255, 255); font-size: 18px; float: left; background-color: rgb(17, 183, 173);
}
.kd-smallview i ~ .services-info {
	padding: 0px 0px 0px 50px;
}
.kd-testimonial.slider-view {
	width: 100%; text-align: center; float: left;
}
.kd-testimonial.slider-view i {
	color: rgb(255, 255, 255);
}
.kd-testimonial.slider-view p {
	color: rgb(255, 255, 255);
}
.kd-testimonial.slider-view span {
	color: rgb(255, 255, 255);
}
.kd-testimonial.slider-view p {
	font-size: 22px;
}
.kd-testimonial.slider-view i {
	line-height: 0.6; font-size: 80px;
}
.kd-testimonial span {
	color: rgb(175, 180, 182);
}
.kd-testimonial .bx-wrapper .bx-default-pager.bx-pager a {
	background-color: rgb(145, 152, 154);
}
.kd-testimonial .bx-wrapper .bx-default-pager.bx-pager a:hover {
	background-color: rgb(255, 255, 255);
}
.kd-testimonial .bx-wrapper .bx-default-pager.bx-pager a.active {
	background-color: rgb(255, 255, 255);
}
.kd-testimonial .bx-wrapper .bx-pager {
	padding-top: 6%; position: static;
}
.kd-testimonial .bx-wrapper .bx-controls-auto {
	padding-top: 6%; position: static;
}
.align-center.kd-call-action {
	text-align: center;
}
.align-center.kd-call-action h2 {
	text-align: center; float: none;
}
.align-center.kd-call-action .action-btn {
	margin-top: 20px; float: none; display: inline-block;
}
.kd-call-action {
	width: 100%; float: left;
}
.kd-call-action h2 {
	margin: 5px 0px; color: rgb(255, 255, 255); text-transform: uppercase; font-weight: 300; float: left;
}
.action-btn {
	padding: 10px 28px; border: 2px solid rgb(255, 255, 255); border-image: none; color: rgb(255, 255, 255); text-transform: uppercase; font-size: 16px; font-weight: bold; float: right; position: relative;
}
.kf-btn-hover {
	position: relative;
}
.kf-btn-hover::before {
	width: 100%;
}
.action-btn:hover::before {
	width: 100%;
}
.frame-btn:hover::before {
	width: 100%;
}
.action-btn::before {
	left: 0px; top: 0px; width: 0%; height: 100%; position: absolute; content: ""; background-color: rgba(0, 0, 0, 0.1);
}
.frame-btn::before {
	left: 0px; top: 0px; width: 0%; height: 100%; position: absolute; content: ""; background-color: rgba(0, 0, 0, 0.1);
}
.kf-btn-hover::before {
	left: 0px; top: 0px; width: 0%; height: 100%; position: absolute; content: ""; background-color: rgba(0, 0, 0, 0.1);
}
.kd-imageframe {
	width: 100%; margin-bottom: 30px; float: left;
}
.kd-imageframe a.frame-thumb {
	display: inline-block; box-shadow: 0px 0px 4px 1px #999;
}
.kd-imageframe h1 {
	margin: 0px 0px 15px; font-weight: 300;
}
.kd-imageframe span {
	margin: 0px 0px 20px; width: 100%; color: rgb(153, 153, 153); font-size: 22px; display: inline-block;
}
.kd-imageframe p {
	margin: 0px 0px 10px;
}
.frame-btn {
	padding: 10px 20px; border-radius: 4px; color: rgb(255, 255, 255); text-transform: uppercase; font-size: 14px; margin-top: 15px; float: left; position: relative;
}
.unorder-list li {
	list-style: inside;
}
.kd-list {
	width: 100%; margin-bottom: 25px; float: left;
}
.kd-list li {
	margin: 0px 0px 10px;
}
.order-list li {
	
}
.icon-list li {
	list-style: none;
}
.icon-list li i {
	color: rgb(102, 102, 102); margin-right: 6px;
}
.squareicon-list li {
	list-style: none; width: 100%; float: left;
}
.squareicon-list li i {
	padding: 8px 0px 0px; border-radius: 100%; width: 25px; height: 25px; text-align: center; color: rgb(255, 255, 255); font-size: 10px; margin-right: 15px; float: left; background-color: rgb(51, 51, 51);
}
.kd-accordion {
	width: 100%; margin-bottom: 25px; float: left;
}
.kd-accordion .accordion {
	margin: 0px 0px 3px; padding: 15px 20px; border: 1px solid rgb(238, 238, 238); border-image: none; width: 100%; color: rgb(68, 68, 68); font-size: 13px; display: inline-block; position: relative; background-color: rgb(255, 255, 255);
}
.kd-accordion .accordion span {
	padding: 18px 0px 0px; top: 0px; width: 50px; height: 100%; text-align: center; right: 0px; color: rgb(119, 119, 119); font-size: 16px; border-left-color: rgb(238, 238, 238); border-left-width: 1px; border-left-style: solid; position: absolute;
}
.kd-accordion .accordion-open.accordion span::before {
	content: "\f068";
}
.accordion-content > p {
	padding: 20px; text-align: justify;
}
.kd-button {
	margin: 0px 0px 20px; width: 100%; float: left;
}
.kd-icon {
	margin: 0px 0px 20px; width: 100%; float: left;
}
.custom-btn {
	padding: 8px 20px; border-radius: 4px; color: rgb(255, 255, 255); text-transform: uppercase; font-weight: bold; vertical-align: middle; display: inline-block; background-color: rgb(243, 74, 83);
}
.kd-medium {
	padding: 13px 26px;
}
.kd-large {
	padding: 17px 26px;
}
.plain-icon {
	font-size: 36px; vertical-align: middle; display: inline-block;
}
.plain-icon a {
	margin-right: 20px;
}
.plain-icon a {
	color: rgb(119, 119, 119);
}
.circle-icon a {
	padding: 13px 0px; border-radius: 100%; width: 65px; height: 65px; text-align: center; color: rgb(255, 255, 255); font-size: 24px; margin-right: 12px; display: inline-block; background-color: rgb(242, 73, 82);
}
.square-icon a {
	padding: 13px 0px; border-radius: 5px; width: 65px; height: 65px; text-align: center; color: rgb(255, 255, 255); font-size: 28px; margin-right: 12px; display: inline-block; background-color: rgb(17, 183, 173);
}
.kd-divider {
	margin: 0px; width: 100%; float: left;
}
.kd-divider span {
	width: 100%; font-size: 30px; display: inline-block;
}
.divider2 span {
	border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
.divider3 span {
	border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: dotted;
}
.divider4 span {
	border: 5px double rgb(238, 238, 238); border-image: none;
}
.divider5 span {
	border: 1px dashed rgb(238, 238, 238); border-image: none;
}
.custom-skills {
	width: 100%; float: left;
}
.progress {
	border-radius: 0px; height: 25px;
}
.progressbar-back-text {
	display: none;
}
.progress-bar {
	padding: 0px 10px; text-align: right; line-height: 23px; font-size: 14px; font-weight: bold;
}
.circle-wrap {
	margin: 0px 0px 30px; width: 100%; float: left;
}
.circle-wrap li {
	list-style: none; padding: 0px 20px 0px 0px; width: 25%; float: left;
}
.circle-wrap li:nth-child(4n) {
	padding-right: 0px;
}
.perc {
	line-height: 175px !important;
}
.defoult-map {
	width: 100%; margin-bottom: 25px; float: left;
}
